.App{
    width: 80%;
    height: 60vh;
    background-color: aqua;
    margin: 60px auto;
    display: flex;
}

.users-data{
    flex-basis: 50%;
    background-color: chartreuse;
}

.add-user{
    flex-basis: 50%;
    background-color: antiquewhite;
}
.user-title{
    display: flex;
    justify-content: space-around;
}